<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" href="../../static/css/profile/profilesetting.css">
  <title>Profile setting</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="button-back">
        <a class="link-button" href="/profile/{{ data.user_nickname }}/{{ data.user_id }}">Go to profile</a>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <div class="hero">
        <div class="aside-user">
          <div class="user-info">
            <img id="display-image">
            <a href="#"> {{ nickname }} </a>
            <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
          </div>
        </div>
        <div class="info">
          <div class="subhead">
            <h2>Profile</h2>
          </div>
            <div>
              <dl class="form-group">
                <dt>
                  <label for="#">First name</label>
                </dt>
                <dd>
                  <textarea type="text" class="textarea-name" name="first-name" placeholder="{{ data.user_first_name }}"></textarea>
                </dd>
              </dl>
              <dl class="form-group">
                <dt>
                  <label for="#">Last name</label>
                </dt>
                <dd>
                  <textarea type="text" class="textarea-name" name="last-name" placeholder="{{ data.user_last_name }}"></textarea>
                </dd>
              </dl>
              <dl class="form-group">
                <dt>
                  <label for="#">Bio</label>
                </dt>
                <dd>
                  <textarea name="textarea" id="textarea-bio" cols="30" rows="3" placeholder="{{ data.user_description }}" class="textarea-bio"></textarea>
                </dd>
              </dl>
              <button type="submit" class="button-submit">Update profile</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script></script>
</body>
</html>