<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" href="../../static/css/font.css">
  <link rel="stylesheet" href="../../static/css/profile/profilesetting.css">
  <link rel="icon" href="../../static/img/Flag_of_Ukraine.svg.png">
  <title>Profile setting</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="button-back">
        <a class="link-button" href="/profile">Go to profile</a>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <div class="hero">
        <div class="aside-user">
          <div class="user-info">
            <img id="display-image">
            <a href="#"> {{ nickname }} </a>
            <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
          </div>
        </div>
        <div class="info">
          <div class="subhead">
            <h2>Profile</h2>
          </div>
            <div class="item-group">
              <dl class="form-group">
                <dt>
                  <label>First name</label>
                </dt>
                <dd>
                  <textarea type="text" class="textarea-name" name="first-name" placeholder="{{ data.user_first_name }}"></textarea>
                </dd>
              </dl>
              <dl class="form-group">
                <dt>
                  <label>Last name</label>
                </dt>
                <dd>
                  <textarea type="text" class="textarea-name" name="last-name" placeholder="{{ data.user_last_name }}"></textarea>
                </dd>
              </dl>
              <dl class="form-group">
                <dt>
                  <label>Nickname</label>
                </dt>
                <dd>
                  <textarea type="text" class="textarea-name" name="nickname" placeholder="{{ data.user_nickname }}"></textarea>
                </dd>
              </dl>
              <dl class="form-group">
                <dt>
                  <label>Email</label>
                </dt>
                <dd>
                  <textarea type="text" class="textarea-name" name="email" placeholder="{{ data.user_email }}"></textarea>
                </dd>
              </dl>
              <dl class="form-group">
                <dt>
                  <label>Bio</label>
                </dt>
                <dd>
                  <textarea name="textarea" id="textarea-bio" cols="30" rows="3" placeholder="{{ data.user_description }}" class="textarea-bio"></textarea>
                </dd>
              </dl>
              <dl class="form-group">
                <dt>
                  <label>Phone number</label>
                </dt>
                <dd>
                  <textarea type="text" class="textarea-name" name="phone-number" placeholder="{{ data.user_phone_number }}"></textarea>
                </dd>
              </dl>
              <dl class="form-group">
                <dt>
                  <label>Github</label>
                </dt>
                <dd>
                  <textarea type="text" class="textarea-name" name="github" placeholder="{{ data.user_github_link }}"></textarea>
                </dd>
              </dl>
              <div class="form-group">
                <a href="/change-password/{{ data.user_nickname }}/{{ data.user_primary_key }}={{ current_key }}">Change password</a>
                <button type="submit" class="button-submit">Update profile</button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script></script>
</body>
</html>