body {
  background-color: #00110b;
  color:#fff;
  font-family: 'RobotoMono';
}

.container {
  max-width: 1440px ;
  margin: 0 auto;
}

.user {
  min-width: 270px;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c4b7b7;
  border-radius: 5px;
  padding: 5px 0px;
  font-weight: 500;
  font-size: 18px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}