body {
  background-color: #00110b;
  color:#fff;
  font-family: 'RobotoMono';
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-family: inherit;
  color: rgb(255 216 216 / 76%);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a[class]{
	text-decoration: none;
  color:#000;
  font-family: inherit;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
  min-width: 80px;
  min-height: 40px;
  transition: all 0.3s ease-out!important;
  border: 1px solid #fff;
}

.button {
  display: flex;
  justify-content: space-between;
  border: none;
  align-items: center;
  width: 100%;
}

.button button:hover {
  background-color: inherit;
  color: #fff;
}

.button a {
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 6px;
  min-width: 80px;
  min-height: 40px;
  border-radius: 30px;
  transition: all 0.3s ease-out!important;
  border: 1px solid #fff;
}

.button a:hover {
  background-color: inherit;
  color: #fff;
}

.sign-up {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgb(3, 11, 6);
  border-radius: 20px;
  padding: 20px 10px;
}

.sign-up h1 {
  margin-bottom: 10px;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-family: inherit;
  border: none;
  transition: all 0.3s ease-out !important;
}

form input:focus {
  opacity: 0.9;
}

