@font-face {
  font-family:"Bookerly" ;
  src: url(../font/Bookerly.ttf) format('opentype');
}

body {
  background-color: #00110b;
  color:#fff;
  font-family: 'Bookerly';
  display: flex;
  justify-content: center;
  align-items: center;
}

label[class] {
  color: #Fff !important; 
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a[class] {
	text-decoration: none;
  color:#000;
  font-family: 'Bookerly';
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  transition: all 0.4s ease-out!important;
  border-width: 0;
}

.button {
  display: flex;
  justify-content: space-between;
  border: none;
  align-items: center;
  width: 100%;
}

.button a {
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 8px 0px;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  transition: all 0.4s ease-out!important;
}

.button a:hover {
  background-color: #fff;
}

.button button:hover {
  background-color: #fff;
}

.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgb(3, 11, 6);
  padding: 20px 10px;
  border-radius: 20px;
}

.login h1 {
  margin-bottom: 10px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-family: 'Bookerly';
  border: none;
  transition: all 0.3s ease-out!important;
}

form input:focus {
  opacity: 0.9;
}

.login label {
  font-family: "Bookerly";
  color: rgba(193, 23, 23, 0.76);
}

.forgotpass-link a {
  color: #fff;
}

.forgotpass-link {
  width: 100%;
  padding: 5px 0px 10px 0px;
  display: flex;
}