@font-face {
  font-family:"Bookerly" ;
  src: url(../../font/Bookerly.ttf) format('opentype');
}


body {
  background-color: #00110b;
  color:#fff;
  font-family: 'Bookerly';
  font-size: 18px;
}

a {
	text-decoration: none;
	color: #fff;
  font-family: 'Bookerly';
  font-size: 18px;
}


header {
  padding: 20px;
}

.container {
  max-width: 1440px ;
  margin: 0 auto;
}

.aside-user {
  width: 400px;
}

.hero {
  display: flex;

}

.info {
  width: 700px;
}

.user-info img {
  width: 256px;
  height: 256px;
  border-radius: 125px;
}

.user-info a {
  margin: 10px 0px;
}

.link-button {
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 10px;
  border-width: 0;
  color:#000;
  transition: all 0.3s ease-out!important;
  border: 1px solid #fff;
}

.link-button:hover {
  background-color: inherit;
  color: #fff;
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
}

.group-info textarea {
  width: 300px;
  resize: none;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 10px;
}

.group-info {
  margin: 40px 0px;
}

.group-info a {
  border: 1px solid #fff;
  padding: 6px 10px;
  border-radius: 30px;
  transition: all 0.3s ease-out !important;
}

.group-info a:not(:last-child) {
  margin-right: 90px;
}

.group-info a:hover {
  background-color: #fff;
  color: #000;
}

.group-link {
  margin: 40px 0px;
  display: flex;
  align-items: center;
}

.group-link button {
  background-color: inherit;
  color: #fff;
  border: 1px #fff solid;
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
}

.group-link a {
  border: 1px solid #fff;
  padding: 6px 10px;
  border-radius: 30px;
  transition: all 0.3s ease-out !important;
  margin-right: 98px;
}

.group-link a:hover {
  background-color: #fff;
  color: #000;
}