@font-face {
  font-family: 'Effra';
  src: url(../../font/Effra.woff) format('woff');
}


body {
  background-color: #000;
  color:aliceblue;
  font-family: 'Effra';
  font-size: 18px;
}

dd {
  margin-left: 0;
}

input[type='file'] {
  color: transparent;
}

a {
	text-decoration: none;
	color: aliceblue;
  font-family: 'Effra';
  font-size: 18px;
}

.container {
  max-width: 1140px ;
  margin: 0 auto;
}

.user-info img {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  
}

.aside-user {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.hero {
  display: flex;
  padding-top: 10px;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-info a {
  margin: 10px 0px;
}

form input {
  background-color: #fff;;
  border-radius: 10px;
}

.user-info input {
  width: 150px;

}

.info {
  width: 700px;
}

.subhead {
  display: flex;
  align-items: center;
}

.form-group textarea {
  width: 400px;
  max-width: 100%;
  max-height: 200px;
  opacity: 0.9;
  border-radius: 10px;
}

.textarea-name {
  width: 400px;
  opacity: 0.9;
  border-radius: 10px;
}

.button-submit {
  background-color: aliceblue;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  border-width: 0;
}

.form-group {
  margin: 40px 0px;
}

#display-image {
  background: center;
  background-repeat: no-repeat;
  background-size: cover;
}