@font-face {
  font-family:"Bookerly" ;
  src: url(../../font/Bookerly.ttf) format('opentype');
}

body {
  background-color: #00110b;
  color:#fff;
  font-family: 'Bookerly';
  font-size: 18px;
  padding-bottom: 20px;
}

dd {
  margin-left: 0;
}

input[type='file'] {
  color: transparent;
}

a {
	text-decoration: none;
	color: #fff;
  font-family: 'Bookerly';
  font-size: 18px;
}

header {
  padding: 20px;
}

.container {
  max-width: 1440px ;
  margin: 0 auto;
}

.user-info img {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  
}

.aside-user {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.hero {
  display: flex;
  padding-top: 10px;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-info a {
  margin: 10px 0px;
}

form input {
  background-color: inherit;
  border-radius: 3px;
}

.user-info input {
  width: 150px;

}

.info {

}

.subhead {
  display: flex;
  align-items: center;
}

.form-group textarea {
  width: 400px;
  max-width: 100%;
  max-height: 200px;
  border-radius: 10px;
  resize: none;
  transition: all 0.3s ease-out !important;
}

.form-group a {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 6px 10px;
  transition: all 0.3s ease-out !important;
}

.form-group a:hover {
  background-color: #fff;
  color: #000;
}

.form-group textarea:focus {
  opacity: 0.9;
}

.textarea-name {
  width: 400px;
  border-radius: 10px;
  transition: all 0.3s ease-out !important;
}

.textarea-name:focus {
  opacity: 0.9;
}

.button-submit {
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 10px;
  border-width: 0;
  transition: all 0.3s ease-out !important;
}

.button-submit:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.link-button {
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 10px;
  border-width: 0;
  color:#000;
  transition: all 0.3s ease-out!important;
}

.link-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.form-group {
  margin: 40px 0px;
}

#display-image {
  background: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-group div {
  display: flex;
  justify-content: space-between;
}