<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/adminstyle.css">
  <title>Admin Panel</title>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="user-list">
        {% for i in table %}
        <div class="user">
          <span>{{ i.user_id }}</span>
          <span>{{ i.user_nickname }}</span>
          <span>{{ i.user_email }}</span>
          <span>{{ i.user_password }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
</html>