<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" href="../../static/css/changepass-page.css">
  <link rel="icon" type="image/png" href="../../static/img/favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="../../static/img/favicon-16x16.png" sizes="16x16"/>
  <link rel="stylesheet" href="../../static/img/favicon.ico">
  <title>Change password</title>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="wrapper">
        <div class="sign-up">
          <h1>Change password</h1>
          <form method="post">
            <input type="password" name="old-password" id="pass" placeholder="Enter old password">
            <div class="forgotpass-link">
              <a href="/forgot-password/{{ user }}/{{ primary_key }}={{ key }}&c" class="item__link">Forgot password?</a>
            </div>
            <label>{{ alert_up }}</label>
            <input type="password" name="password" id="pass" placeholder="Enter new password">
            <label>{{ alert_down }}</label>
            <input type="password" name="repeatpassword" id="pass" placeholder="Repeat password">
            <div class="button">
            <a href="/edit-profile/{{ user }}/{{ primary_key }}={{ key }}">Back</a>
            <button class="success" type="submit">Change</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>