<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/enterlogin.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <title>Enter login</title>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="wrapper">
        <form action="">
        <div class="changepass">
          <h1> Send code to email address:</h1>
          <input type="email" placeholder="Your email">
          <div class="button">
            <a href="{{ link }}">Decline</a>
            <button type="submit">Send</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </section>
</body>
</html>