<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/forgotpass.css">
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="icon" href="../static/img/Flag_of_Ukraine.svg.png">
  <title>Forgot password</title>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="wrapper">
        <div class="changepass">
          <h1> Send code to email address:</h1>
          <article>{{ data.user_email }}</article>
          <label>{{ alert }}</label>
          <div class="button">
            <a href="{{ link_back }}">Decline</a>
            <a href="/accept-send-code/{{ data.user_nickname }}/{{ data.user_primary_key }}">Accept</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>