<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/friends-page.css">
  <link rel="stylesheet" href="../static/css/font.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="icon" href="../static/img/Flag_of_Ukraine.svg.png">
  <title>Friends</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="button-back">
        <a class="link-button" href="/profile/{{ data.user_nickname }}/{{ data.user_primary_key }}={{ current_key }}">Go back</a>
      </div>
    </div>
  </header>
  <section class="section">
    <div class="container">
      <div class="user-list">
        {% for i in friends_list %}
        <div class="user">
          <div class="user-photo">
            <img src="../static/img/{{ i[0] }}" alt="">
          </div>
          <span>{{ i[1] }}#{{ i[2] }}</span>      
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
</html>