<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/friends-page.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <title>Document</title>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="user-list">
        {% for i in table %}
        <div class="user">
          <div class="user-photo">
            <img src="../static/img/Circle_Davys-Grey_Solid.svg.png" alt="">
          </div>
          <span>{{ i.user_nickname }}#{{ i.user_primary_key }}</span>      
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
</html>