<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/homelogin.css">
  <link rel="icon" href="../static/img/Flag_of_Ukraine.svg.png">
  <title>Home page</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="navbar">
        <div class="logo-nav">
          <h2>TeamWork</h2>
          <div class="dev-link">
            <div class="dev">
              <a target="_blank" href="https://github.com/IsNAble">
                <img src="../../static/img/Hwesus.png" alt="">
              </a>
              <a target="_blank" href="https://github.com/IsNAble">IsNAble</a>
            </div>
            <div class="dev">
              <a target="_blank" href="https://github.com/ViLsonCake"><img src="../../static/img/ViLson.png" alt=""></a>
              <a target="_blank" href="https://github.com/ViLsonCake">ViLsonCake</a>
            </div>
          </div>
          <div class="search-container">
            <form action="" method="post">
            <div class="search-bar">
                <input type="search" name="search-bar">
                <label for="">{{ alert }}</label>
              </form>
            </div>
          </div>
        </div>
        <nav class="nav">
          <a class="link" href="/invite-list/{{ data.user_nickname }}-{{ data.user_primary_key }}={{ current_key }}">
            <label for="">{{ notifications }}</label>
          </a>
          <img src="../../static/img/{{ data.user_avatar }}" alt="Icon">
          <a href="/profile/{{ data.user_nickname }}/{{ data.user_primary_key }}={{ current_key }}"> {{ data.user_nickname }}</a>
          <a href="/home">Sign out</a>
        </nav>
      </div>
    </div>
  </header>
  <section ion class="typing-test">
    <div class="wrapper">
      <input type="text" class="input-field">
      <div class="content-box">
        <div class="typing-text">
          <p></p>
        </div>
        <div class="content">
          <ul class="result-details">
            <li class="time">
              <p>Time Left:</p>
              <span><b>60</b>s</span>
            </li>
            <li class="mistake">
              <p>Mistakes:</p>
              <span>0</span>
            </li>
            <li class="wpm">
              <p>WPM:</p>
              <span>0</span>
            </li>
            <li class="cpm">
              <p>CPM:</p>
              <span>0</span>
            </li>
          </ul>
          <button>Try Again</button>
        </div>
      </div>
    </div>
  </section>
  <script src="../static/js/paragraphs.js"></script>
  <script src="../static/js/script.js"></script>
</body>
</html>