<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <h2>TeamWork</h2>
        </div>
        <div class="dev-link">
          <div class="dev">
            <img src="../static/img/Circle_Davys-Grey_Solid.svg.png" alt="">
            <a target="_blank" href="https://github.com/IsNAble">IsNAble</a>
          </div>
          <div class="dev">
            <img src="../static/img/Circle_Davys-Grey_Solid.svg.png" alt="">
            <a target="_blank" href="https://github.com/ViLsonCake">ViLsonCake</a>
          </div>
        </div>
        <nav class="nav">
          <ul>
            <li class="nav__item">
              <a class="nav__link" href="/login">Login</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="/sign-up">Register</a>
            </li>    
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <secton class="we">
    <div class="container">
      <h2>You are seeing the first try to make our website</h2>
      <p>Yeah exactly you, the visitor, maybe in deep future someone of us will someday see that piece of sh*t, but now we are proud of make it. So, there was IsNAble and ViLsonCake</p>
    </div>
    
  </secton>
</body>
</html>