<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/invite-list.css">
  <title>Invite list</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="button-back">
        <a class="link-button" href="/home/{{ data.user_nickname }}/{{ data.user_primary_key }}={{ current_key }}">Go back</a>
      </div>
    </div>
  </header>
  <section class="section">
    <div class="container">
      <div class="user-list">
        {% for i in invites_list %}
        <div class="user">
          <div class="user-photo">
            <img src="../static/img/{{ i[0] }}" alt="">
          </div>
          <span>{{ i[1] }}#{{ i[2] }}</span>
          <div class="buttons">
            <a class="button" href="/accept/{{ i[0] }}&{{ i[1] }}&{{ i[2] }}={{ primary_key }}">Accept</a>
            <a class="button" href="/decline/{{ i[0] }}&{{ i[1] }}&{{ i[2] }}={{ primary_key }}">Decline</a>
          </div>      
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
</html>