<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/style-sing-up.css">
  <title>Sign-Up</title>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="wrapper">
        <div class="sign-up">
          <h1>Sign-Up</h1>
          <form action="" method="post">
            <input type="text" name="nickname" id="nickname" placeholder="Enter nickname">
            <label></label>
            <input type="email" name="email" id="email" placeholder="Enter your email">
            <label></label>
            <input type="password" name="password" id="pass" placeholder="Enter new password">
            <label></label>
            <input type="password" name="repeatpassword" id="pass" placeholder="Repeat password">
            <div class="button">
              <input class="button-back" type="button" onclick="location.href='/home';" value="Back"/>
              <button class="success" type="submit">Sign-Up</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>